@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    transition: all 300ms linear;
}

:root {
    --font-size-10: 10px;
    --font-size-12: 12px;
    --font-size-13: 13px;
    --font-size-14: 14px;
    --font-size-16: 16px;
    --font-size-20: 20px;
    --font-size-18: 18px;
    --font-size-22: 22px;
    --font-size-23: 23px;
    --font-size-25: 25px;
    --font-size-28: 28px;
    --font-size-30: 30px;
    --font-size-31: 31px;
    --font-size-35: 35px;
    --font-size-36: 36px;
    --font-size-39: 39px;
    --font-size-42: 42px;
    --font-size-40: 40px;
    --font-size-48: 48px;
    --font-size-64: 64px;
    --font-size-67: 67px;
    --font-size-96: 96px;

    --color-orange: #F06500;
    --nav-color: #000000BF;
    --section-bg-color: #0C0B0B;
    --section-bg-color-2: #1D1A1A;
    --color-sec3-box: #151313;
    --color-grey: #373737;
    --color-light-grey: #7B7B7B;
    --color-white: white;
    --color-light-pink: #FFF7F4;
    --color-EFEF-white: #EFEFEF;
    --color-light-blue: #00ACFF;
    --color-black: black;
    --color-green: #00E396;
    --color-purple: #8B35E2;
    --color-pink: #FF4560;
    --color-skyblue: #00B2FF;
    --color-darkyellow: #FFA800;
    --table-border-color: #444343;


    --font-weight-xsm: 300;
    --font-weight-sm: 400;
    --font-weight-md: 500;
    --font-weight-lg: 600;
    --font-weight-xl: 700;

    --ff-work_sans: "Work Sans", sans-serif;
    --ff-poppins: "Poppins", sans-serif;
}

.saint {
    font-family: var(--ff-poppins);
    font-size: var(--font-size-30);
    font-weight: var(--font-weight-sm);
    line-height: 54px;
    text-align: left;
    color: var(--color-white);
}

.shiba {
    font-family: var(--ff-poppins);
    font-size: var(--font-size-30);
    font-weight: var(--font-weight-xl);
    line-height: 54px;
    text-align: left;
    color: var(--color-orange);
}

.nav-bar {
    background-color: var(--nav-color);
    z-index: 2;
    padding: 10px 0;
}

.nav-fonts {
    font-family: var(--ff-poppins);
    font-size: var(--font-size-18);
    font-weight: var(--font-weight-sm);
    line-height: 32.4px;
    text-align: left;
    color: var(--color-white);
    text-decoration: none;
    position: relative;
}

.nav-fonts::before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0%;
    height: 3px;
    background: linear-gradient(90deg, #FFA800 0%, #F06500 100%);
    transition: all 300ms linear;
}

.nav-fonts:hover::before {
    width: 100%;
}

.gap-30 {
    gap: 30px;
}

.connect-wallet {
    padding: 7px 23px 7px 23px;
    background: linear-gradient(90deg, #FFA800 0%, #F06500 100%);
    border-radius: 23px;
    color: var(--color-white);
    border: 1px solid var(--color-orange);
    font-family: var(--ff-poppins);
    font-size: var(--font-size-18);
    font-weight: var(--font-weight-lg);
    line-height: 33px;
    text-align: left;
}

.connect-wallet:hover {
    background: linear-gradient(-90deg, #FFA800 52%, #F06500 86%)
}

/* ----------------------section-1----------------------------- */
.section-1 {
    background-image: url(../images/section-1-bg-image.png);
    background-position: center;
    background-size: cover;
}

.shadow {
    bottom: 0;
}

.sec-1-heading {
    font-family: var(--ff-poppins);
    font-size: var(--font-size-40);
    font-weight: var(--font-weight-xl);
    line-height: 42.52px;
    text-align: left;
    color: var(--color-white);
}

.connect-wallet-2 {
    padding: 7px 23px 7px 23px;
    background: linear-gradient(90deg, #FFA800 0%, #F06500 100%);
    border-radius: 23px;
    color: var(--color-white);
    border: 1px solid var(--color-orange);
    font-family: var(--ff-poppins);
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-lg);
    line-height: 33px;
    text-align: left;
}

.connect-wallet-2:hover {
    background: linear-gradient(-90deg, #FFA800 52%, #F06500 86%)
}

.sec-1-para {
    font-family: var(--ff-poppins);
    font-size: var(--font-size-22);
    font-weight: var(--font-weight-sm);
    line-height: 33px;
    text-align: left;
    color: var(--color-white);
}

.pt-100 {
    padding-top: 100px;
}

/* --------------------section-2-------------------- */
.position-box-heading {
    font-family: var(--ff-poppins);
    font-size: var(--font-size-30);
    font-weight: var(--font-weight-lg);
    line-height: 44.44px;
    text-align: left;
    color: var(--color-white);
}

.glow {
    top: -12%;
    left: -28%;
}

.sec-2-right {
    right: 0;
    bottom: 10%;
}

.sec-2-left {
    left: 0;
    bottom: 0;
}

.position-box-para {
    font-family: var(--ff-poppins);
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-sm);
    line-height: 32.4px;
    text-align: left;
    color: var(--color-white);
    opacity: 70%;
}

.position-box {
    max-width: 1320px;
    padding: 24px;
    border: 1px solid;
    border-image-source: linear-gradient(95.21deg, rgba(255, 255, 255, 0.2) -0.59%, rgba(255, 255, 255, 0.092) 106.99%);
    background: linear-gradient(94.88deg, rgba(255, 255, 255, 0.05) 0.97%, rgba(255, 255, 255, 0) 103.14%);
    position: relative;
    top: -90px;
    border-radius: 10px;
    backdrop-filter: blur(7px);
}

.section-bg-color {
    background-color: var(--section-bg-color);
}

.sec-2-heading {
    font-family: var(--ff-poppins);
    font-size: var(--font-size-30);
    font-weight: var(--font-weight-lg);
    line-height: 44.44px;
    text-align: left;
    color: var(--color-white);
}

.sec-2-para {
    font-family: var(--ff-poppins);
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-sm);
    line-height: 32.4px;
    text-align: left;
    color: var(--color-white);
    max-width: 660px;
    opacity: 70%;
}

.learn-more {
    padding: 7px 23px 7px 23px;
    background: linear-gradient(90deg, #FFA800 0%, #F06500 100%);
    border-radius: 23px;
    color: var(--color-white);
    border: 1px solid var(--color-orange);
    font-family: var(--ff-poppins);
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-lg);
    line-height: 32.4px;
    text-align: left;
}

.learn-more:hover {
    background: linear-gradient(-90deg, #FFA800 52%, #F06500 86%)
}

/* --------------------section-3-------------------- */
.section-bg-color-2 {
    background-color: var(--section-bg-color-2);
}

.sec-3-heading {
    font-family: var(--ff-poppins);
    font-size: 39px;
    font-weight: var(--font-weight-lg);
    line-height: 61.44px;
    text-align: left;
    color: var(--color-white);
}

.sec-3-para {
    font-family: var(--ff-poppins);
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-sm);
    line-height: 30.4px;
    text-align: left;
    color: var(--color-white);
    opacity: 70%;
}

.sec-3-box {
    background-color: var(--color-sec3-box);
    padding: 10px 13px;
    border-radius: 46px;
    transition: all 300ms linear;
}

.sec-3-box:hover {
    background-color: var(--section-bg-color);
}

.sec-3-box:hover .sec-3-circle {
    background: linear-gradient(90deg, #FFA800 0%, #F06500 100%);
}

.sec-3-box:hover .sec-3-circle .circle-no {
    color: var(--color-white);
}

.sec-3-circle {
    width: 51px;
    border-radius: 50%;
    height: 51px;
    background: var(--color-white);
    transition: all 300ms linear;
    /* background: linear-gradient(90deg, #FFA800 0%, #F06500 100%); */
}

.circle-no {
    font-family: var(--ff-poppins);
    font-size: var(--font-size-18);
    font-weight: var(--font-weight-lg);
    line-height: 33px;
    text-align: center;
    color: var(--color-black);
    transform: translateY(25%);
    transition: all 300ms linear;
}

.sec-3-box-heading {
    font-family: var(--ff-poppins);
    font-size: var(--font-size-22);
    font-weight: var(--font-weight-lg);
    line-height: 33px;
    text-align: left;
    color: var(--color-white);
}

.sec-3-box-para {
    font-family: var(--ff-poppins);
    font-size: var(--font-size-18);
    font-weight: var(--font-weight-sm);
    line-height: 32.4px;
    text-align: left;
    color: var(--color-white);
    opacity: 70%;
}

.py-90 {
    padding-top: 90px;
    padding-bottom: 90px;
}

/* -------------------section-4-------------------- */
.table-right-img {
    right: 0;
    top: 40%
}

.Tokenomics {
    font-family: var(--ff-poppins);
    font-size: var(--font-size-30);
    font-weight: var(--font-weight-lg);
    line-height: 61.44px;
    text-align: center;
    color: var(--color-white);
}

.sec-4-box {
    border: 1px solid #272626;

    background:
        linear-gradient(94.88deg, rgba(255, 255, 255, 0.1) 0.97%,
            rgba(255, 255, 255, 0) 103.14%);
    border-radius: 10px;
    padding: 16px 20px 20px 20px;
}

.sec-4-box:hover {
    background: linear-gradient(-90.12deg, rgba(255, 255, 255, 0.1) 0.97%, rgba(255, 255, 255, 0) 103.14%);
}

.ok-hover:hover {
    color: var(--color-orange);
}

.ok-hover {
    width: max-content;
}

.sec-4-box-heading {
    font-family: var(--ff-poppins);
    font-size: var(--font-size-20);
    font-weight: var(--font-weight-sm);
    line-height: 33px;
    text-align: left;
    color: var(--color-white);
}

.sec-4-box-font1 {
    color: var(--color-white);
    opacity: 70%;
    font-family: var(--ff-poppins);
    font-size: var(--font-size-14);
    font-weight: var(--font-weight-sm);
    line-height: 25.2px;
    text-align: left;
}

.sec-4-box-font2 {
    color: var(--color-white);
    font-family: var(--ff-poppins);
    font-size: var(--font-size-22);
    font-weight: var(--font-weight-lg);
    line-height: 42px;
    text-align: left;
}

.sec-bg-gradient {
    background: linear-gradient(94.88deg, rgba(255, 255, 255, 0.05) 0.97%, rgba(255, 255, 255, 0) 103.14%);
}

.color-box1 {
    width: 50px;
    height: 50px;
    background-color: var(--color-green);
    border-radius: 4px
}

.color-box2 {
    width: 50px;
    height: 50px;
    background-color: var(--color-orange);
    border-radius: 4px
}

.color-box3 {
    width: 50px;
    height: 50px;
    background-color: var(--color-purple);
    border-radius: 4px
}

.color-box4 {
    width: 50px;
    height: 50px;
    background-color: var(--color-skyblue);
    border-radius: 4px
}

.color-box5 {
    width: 50px;
    height: 50px;
    background-color: var(--color-darkyellow);
    border-radius: 4px
}

.color-box6 {
    width: 50px;
    height: 50px;
    background-color: var(--color-pink);
    border-radius: 4px
}

.sed-sem {
    color: var(--color-white);
    font-family: var(--ff-poppins);
    font-size: var(--font-size-18);
    font-weight: var(--font-weight-lg);
    line-height: 32.4px;
    text-align: left;
}

.border-sec-4 {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 1px solid var(--table-border-color);

}

.mt-24 {
    margin-top: 24px;
}

.py-40 {
    padding-top: 40px;
    padding-bottom: 40px;
}

.row-padding-sec-4 {
    padding: 20px;
}

.border-bottom-none {
    border-bottom: none;
}

/* ---------------table------------- */
.sec-4-table .sec-4-thead tr th {
    color: var(--color-white);
    padding-top: 14px;
    padding-bottom: 24px;
    padding-left: 20px;
    padding-right: 20px;
    text-wrap: nowrap;
    font-family: var(--ff-poppins);
    font-size: var(--font-size-18);
    font-weight: var(--font-weight-lg);
    line-height: 32.4px;
    text-align: center;
}

.sec-4-table .tbody tr td {
    color: var(--color-white);
    opacity: 70%;
    font-family: var(--ff-poppins);
    font-size: var(--font-size-18);
    font-weight: var(--font-weight-sm);
    line-height: 32.4px;
    text-align: center;
    padding-top: 14px;
    padding-bottom: 24px;
    padding-left: 20px;
    padding-right: 20px;
}

.sec-4-table {
    border-radius: 10px;
}

.sec-4-table {
    border-collapse: separate;
    border-spacing: 0;
    border-top: none;
    /* Other styles */
}

.tbody {
    border-top: none;
}

/* table */
table tr td:first-child {
    border-left: 1px solid var(--table-border-color);
}

table tr td:last-child {
    border-right: 1px solid var(--table-border-color);
}

table tr:last-child td {
    border-bottom: 1px solid var(--table-border-color);
}

table tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

table tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

/* ::-webkit-scrollbar-track {
    display: none;
}

::-webkit-scrollbar-thumb {
    width: 30px;
    height: 4px;
    border-radius: 10px;
    background-color: var(--color-orange);
} */
::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    cursor: pointer;
}

/* Track */
::-webkit-scrollbar-track {
    display: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--color-orange);
    border-radius: 10px;
    cursor: pointer;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* timeline */

.timeline {
    position: relative;
}

/* line-in-center */

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: var(--color-white);
    top: 12px;
    bottom: -24px;
    left: 18px;
    margin-left: -3px;
}

.timeline-box-right {
    position: relative;
    width: 100%;
    left: 0;
}

.timeline-box-left {
    position: relative;
    width: 100%;
    left: 0;
}

.timeline-box-left::after {
    content: "";
    width: 36px;
    height: 36px;
    position: absolute;
    background: linear-gradient(180deg, #FFA800 0%, #F06500 100%);
    border-radius: 50%;
    top: 6px;
    left: 0;
    z-index: 1;
}

.timeline-heading-left {
    color: var(--color-white);
    font-family: var(--ff-poppins);
    font-size: var(--font-size-30);
    font-weight: var(--font-weight-lg);
    line-height: 54px;
    text-align: left;
}

.timeline-para-left {
    color: var(--color-white);
    opacity: 70%;
    font-family: var(--ff-poppins);
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-sm);
    line-height: 30.4px;
    text-align: left;
}

.timeline-heading {
    color: var(--color-white);
    font-family: var(--ff-poppins);
    font-size: var(--font-size-30);
    font-weight: var(--font-weight-lg);
    line-height: 54px;
    text-align: left;
}

.timeline-box-right::after {
    content: "";
    width: 36px;
    height: 36px;
    position: absolute;
    background: linear-gradient(180deg, #FFA800 0%, #F06500 100%);
    border-radius: 50%;
    top: 14px;
    left: 0;
    z-index: 1;
}

.timeline-para-right {
    color: var(--color-white);
    opacity: 70%;
    font-family: var(--ff-poppins);
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-sm);
    line-height: 30.4px;
    text-align: left;
}

.timeline-box-left {
    padding: 10px 10px 10px 60px;
}

.timeline-box-right {
    padding: 10px 10px 10px 60px;
}

.roadmap {
    color: var(--color-white);
    font-family: var(--ff-poppins);
    font-size: var(--font-size-40);
    font-weight: var(--font-weight-lg);
    line-height: 61.44px;
    text-align: center;
}

/* accordian */

.footer-bottom-img {
    bottom: 0;
}

.rotate {
    transform: rotate(180deg);
}

.a-container {
    background: linear-gradient(94.88deg, rgba(255, 255, 255, 0.05) 0.97%, rgba(255, 255, 255, 0) 103.14%) !important;
    /* padding: 23px 30px; */
    margin-bottom: 10px;
    border: 1px solid;
    border-radius: 10px;
}


.faq {
    color: var(--color-white);
    font-family: var(--ff-poppins);
    font-size: var(--font-size-30);
    font-weight: var(--font-weight-lg);
    line-height: 61.44px;
    text-align: center;
}

.acc-content {
    display: none;
    transition: max-height 1s ease;
    color: var(--color-white);
    opacity: 70%;
    font-family: var(--ff-poppins);
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-sm);
    line-height: 28.4px;
    text-align: left;
    padding: 10px;
}

.label {
    color: var(--color-white);
    font-family: var(--ff-poppins);
    font-size: var(--font-size-18);
    font-weight: var(--font-weight-lg);
    line-height: 33px;
    text-align: left;
    cursor: pointer;
    padding: 15px 20px;
}

.footer-bottom-img {
    bottom: 0;
    right: 0;
}

.sec-4 {
    padding-bottom: 25%;
}

@media (min-width:1400px) {
    .sec-1-heading {
        font-family: var(--ff-poppins);
        font-size: var(--font-size-96) !important;
        font-weight: var(--font-weight-xl) !important;
        line-height: 95.52px !important;
        text-align: left;
        color: var(--color-white);
    }
}

@media (min-width:1200px) {
    .sec-3-box-heading {
        font-family: var(--ff-poppins);
        font-size: var(--font-size-22) !important;
        font-weight: var(--font-weight-lg) !important;
        line-height: 33px !important;
        text-align: left;
        color: var(--color-white);
    }

    .sec-3-box-para {
        font-family: var(--ff-poppins);
        font-size: var(--font-size-18) !important;
        font-weight: var(--font-weight-sm) !important;
        line-height: 32.4px !important;
        text-align: left;
        color: var(--color-white);
        opacity: 70%;
    }
}

@media (min-width:992px) {
    .sec-1-heading {
        font-family: var(--ff-poppins);
        font-size: var(--font-size-67);
        font-weight: var(--font-weight-xl);
        line-height: 80px;
        text-align: left;
        color: var(--color-white);
    }

    /*--------------- section-3--------------- */
    .sec-3-box-heading {
        font-family: var(--ff-poppins);
        font-size: var(--font-size-20);
        font-weight: var(--font-weight-lg);
        line-height: 27px;
        text-align: left;
        color: var(--color-white);
    }

    .sec-3-box-para {
        font-family: var(--ff-poppins);
        font-size: var(--font-size-16);
        font-weight: var(--font-weight-sm);
        line-height: 24.4px;
        text-align: left;
        color: var(--color-white);
        opacity: 70%;
    }

    .lg-w-50 {
        width: 50% !important;
    }

    .lg-position-absolute {
        position: absolute;
    }

    .overflow-img {
        right: 0;
        height: 600px;
    }

    .lg-w-unset {
        width: unset;
    }
}

@media (min-width:768px) {

    /* -------------section-1----------------- */

    .position-box-heading {
        font-family: var(--ff-poppins);
        font-size: var(--font-size-48);
        font-weight: var(--font-weight-lg);
        line-height: 61.44px;
        text-align: left;
        color: var(--color-white);
    }

    .position-box-para {
        font-family: var(--ff-poppins);
        font-size: var(--font-size-18);
        font-weight: var(--font-weight-sm);
        line-height: 32.4px;
        text-align: left;
        color: var(--color-white);
    }

    .connect-wallet-2 {
        padding: 7px 23px 7px 23px;
        background: linear-gradient(90deg, #FFA800 0%, #F06500 100%);
        border-radius: 23px;
        color: var(--color-white);
        border: 1px solid var(--color-orange);
        font-family: var(--ff-poppins);
        font-size: var(--font-size-22);
        font-weight: var(--font-weight-lg);
        line-height: 33px;
        text-align: left;
    }

    /* --------------------section-2----------------------- */
    .sec-2-heading {
        font-family: var(--ff-poppins);
        font-size: var(--font-size-48);
        font-weight: var(--font-weight-lg);
        line-height: 61.44px;
        text-align: left;
        color: var(--color-white);
    }

    .sec-2-para {
        font-family: var(--ff-poppins);
        font-size: var(--font-size-18);
        font-weight: var(--font-weight-sm);
        line-height: 32.4px;
        text-align: left;
        color: var(--color-white);
        max-width: 660px;
    }

    .learn-more {
        padding: 7px 23px 7px 23px;
        background: linear-gradient(90deg, #FFA800 0%, #F06500 100%);
        border-radius: 23px;
        color: var(--color-white);
        border: 1px solid var(--color-orange);
        font-family: var(--ff-poppins);
        font-size: var(--font-size-18);
        font-weight: var(--font-weight-lg);
        line-height: 32.4px;
        text-align: left;
    }

    /* timeline */
    .timeline::after {
        content: '';
        position: absolute;
        width: 6px;
        background-color: white;
        top: 12px;
        bottom: -24px;
        left: 50%;
        margin-left: -3px;
    }

    .timeline-box-left::after {
        content: "";
        width: 36px;
        height: 36px;
        position: absolute;
        background: linear-gradient(180deg, #FFA800 0%, #F06500 100%);
        border-radius: 50%;
        top: 6px;
        right: -18px;
        left: unset;
    }

    .timeline-box-right::after {
        content: "";
        width: 36px;
        height: 36px;
        position: absolute;
        background: linear-gradient(180deg, #FFA800 0%, #F06500 100%);
        border-radius: 50%;
        top: 14px;
        left: -18px;
        z-index: 1;
    }

    .timeline-box-right {
        position: relative;
        width: 50%;
        left: 50%;
    }

    .timeline-box-left {
        position: relative;
        width: 50%;
        left: 0;
    }

    .timeline-heading-left {
        color: var(--color-white);
        font-family: var(--ff-poppins);
        font-size: var(--font-size-36) !important;
        font-weight: var(--font-weight-lg) !important;
        line-height: 54px !important;
        text-align: right !important;
    }

    .timeline-para-left {
        color: var(--color-white);
        opacity: 70%;
        font-family: var(--ff-poppins);
        font-size: var(--font-size-18) !important;
        font-weight: var(--font-weight-sm) !important;
        line-height: 32.4px !important;
        text-align: right !important;
    }

    .timeline-heading {
        color: var(--color-white);
        font-family: var(--ff-poppins);
        font-size: var(--font-size-36) !important;
        font-weight: var(--font-weight-lg) !important;
        line-height: 54px !important;
        text-align: left !important;
    }

    .timeline-para-right {
        color: var(--color-white);
        opacity: 70%;
        font-family: var(--ff-poppins);
        font-size: var(--font-size-18) !important;
        font-weight: var(--font-weight-sm) !important;
        line-height: 32.4px !important;
        text-align: left !important;
    }

    .timeline-box-left {
        padding: 10px 80px 10px 10px;
    }

    .timeline-box-right {
        padding: 10px 10px 10px 80px;
    }

    .md-pt-40 {
        padding-top: 40px;
    }

    .md-w-50 {
        width: 50%;
    }
}

@media (min-width:576px) {
    .sec-3-circle {
        width: 71px;
        border-radius: 50%;
        height: 71px;
        background: var(--color-white);
        transition: all 300ms linear;
        /* background: linear-gradient(90deg, #FFA800 0%, #F06500 100%); */
    }

    .circle-no {
        font-family: var(--ff-poppins);
        font-size: var(--font-size-22);
        font-weight: var(--font-weight-lg);
        line-height: 33px;
        text-align: center;
        color: var(--color-black);
        transform: translateY(25%);
        transition: all 300ms linear;
    }

    .sec-3-heading {
        font-family: var(--ff-poppins);
        font-size: var(--font-size-48);
        font-weight: var(--font-weight-lg);
        line-height: 61.44px;
        text-align: left;
        color: var(--color-white);
    }

    .sec-3-para {
        font-family: var(--ff-poppins);
        font-size: var(--font-size-18);
        font-weight: var(--font-weight-sm);
        line-height: 32.4px;
        text-align: left;
        color: var(--color-white);
        opacity: 70%;
    }

    /* ---section-4----- */
    .Tokenomics {
        font-family: var(--ff-poppins);
        font-size: var(--font-size-48);
        font-weight: var(--font-weight-lg);
        line-height: 61.44px;
        text-align: center;
        color: var(--color-white);
    }

    .sec-4-box-heading {
        font-family: var(--ff-poppins);
        font-size: var(--font-size-22);
        font-weight: var(--font-weight-sm);
        line-height: 33px;
        text-align: left;
        color: var(--color-white);
    }

    .sec-4-box-font1 {
        color: var(--color-white);
        opacity: 70%;
        font-family: var(--ff-poppins);
        font-size: var(--font-size-14);
        font-weight: var(--font-weight-sm);
        line-height: 25.2px;
        text-align: left;
    }

    .sec-4-box-font2 {
        color: var(--color-white);
        font-family: var(--ff-poppins);
        font-size: var(--font-size-28);
        font-weight: var(--font-weight-lg);
        line-height: 42px;
        text-align: left;
    }

    .row-padding-sec-4 {
        padding: 66px;
    }

    /* timeline */
    .timeline-heading-left {
        color: var(--color-white);
        font-family: var(--ff-poppins);
        font-size: var(--font-size-36);
        font-weight: var(--font-weight-lg);
        line-height: 54px;
        text-align: left;
    }

    .timeline-para-left {
        color: var(--color-white);
        opacity: 70%;
        font-family: var(--ff-poppins);
        font-size: var(--font-size-18);
        font-weight: var(--font-weight-sm);
        line-height: 32.4px;
        text-align: left;
    }

    .timeline-heading {
        color: var(--color-white);
        font-family: var(--ff-poppins);
        font-size: var(--font-size-36);
        font-weight: var(--font-weight-lg);
        line-height: 54px;
        text-align: left;
    }

    .timeline-para-right {
        color: var(--color-white);
        opacity: 70%;
        font-family: var(--ff-poppins);
        font-size: var(--font-size-18);
        font-weight: var(--font-weight-sm);
        line-height: 32.4px;
        text-align: left;
    }

    .roadmap {
        color: var(--color-white);
        font-family: var(--ff-poppins);
        font-size: var(--font-size-48);
        font-weight: var(--font-weight-lg);
        line-height: 61.44px;
        text-align: center;
    }

    /* accordion */
    .faq {
        color: var(--color-white);
        font-family: var(--ff-poppins);
        font-size: var(--font-size-48);
        font-weight: var(--font-weight-lg);
        line-height: 61.44px;
        text-align: center;
    }

    .acc-content {
        display: none;
        transition: max-height 1s ease;
        color: var(--color-white);
        opacity: 70%;
        font-family: var(--ff-poppins);
        font-size: var(--font-size-18);
        font-weight: var(--font-weight-sm);
        line-height: 32.4px;
        text-align: left;
        padding: 10px;
    }

    .label {
        color: var(--color-white);
        font-family: var(--ff-poppins);
        font-size: var(--font-size-22);
        font-weight: var(--font-weight-lg);
        line-height: 33px;
        text-align: left;
        padding: 23px 30px;
    }

    .saint {
        font-family: var(--ff-poppins);
        font-size: var(--font-size-36);
        font-weight: var(--font-weight-sm);
        line-height: 54px;
        text-align: left;
        color: var(--color-white);
    }

    .shiba {
        font-family: var(--ff-poppins);
        font-size: var(--font-size-36);
        font-weight: var(--font-weight-xl);
        line-height: 54px;
        text-align: left;
        color: var(--color-orange);
    }
}

@media (max-width:991.9px) {
    .menubox {
        width: 35px;
        height: 27px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        z-index: 3;
        cursor: pointer;
    }

    .menubox span {
        width: 100%;
        height: 3px;
        background: var(--color-white);
    }

    .navitems {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: -100%;
        background: linear-gradient(90deg, #FFA800 0%, #F06500 100%);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 2;
    }

    .active {
        left: 0;
    }


}

@media (max-width:576px) {

    /*--------------- section-3--------------- */
    .sec-3-box-heading {
        font-family: var(--ff-poppins);
        font-size: var(--font-size-16);
        font-weight: var(--font-weight-lg);
        line-height: 27px;
        text-align: left;
        color: var(--color-white);
    }

    .sec-3-box-para {
        font-family: var(--ff-poppins);
        font-size: var(--font-size-16);
        font-weight: var(--font-weight-sm);
        line-height: 24.4px;
        text-align: left;
        color: var(--color-white);
        opacity: 70%;
    }
}